body {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.photo {
    border-radius: 50%;
}

.greeting {
    color: white;
    font-size: x-large;
}

.cursor {
    color: white;
    font-size: x-large;
    animation: blinker 1s linear infinite; 
}

@keyframes blinker {
    0.001%, 50% {
        opacity: 0;
    }
    0%, 50.001% {
        opacity: 1;
    }
}